<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

    <bean id="secAspects" class="com.example.aopdemo.SecurityAspects" />
    <aop:config>

        <!-- Wir wollen wenn immer secretInfo aufgerufen wird , showWarning -->

        <aop:aspect ref="secAspects">
            <aop:pointcut id="pcGiveMeSecretInfo" expression="execution(* com.example.aopdemo.TopSecretMisssion.giveMeSecretInfo(..))" />
            <aop:after method="showWarning" pointcut-ref="pcGiveMeSecretInfo"/>

        </aop:aspect>


    </aop:config>
</beans>