<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean id="hwController" class="com.example.didemo.HelloWorldController"><property name="helloWorldServiceDE" ref="hwServiceDE"></property></bean>
    <bean id="hwServiceEN" class="com.example.didemo.HelloWorldServiceENImpl" primary="true"></bean>
    <bean id="hwServiceDE" class="com.example.didemo.HelloWorldServiceDEImpl"></bean>
</beans>